@font-face {
  font-family: "Aeonik-regular";
  src: url("../public/assets/fonts/Aeonik/Aeonik-Regular.otf");
}
@font-face {
  font-family: "Aeonik-bold";
  src: url("../public/assets/fonts/Aeonik/Aeonik-Bold.otf");
}
@font-face {
  font-family: "Aeonik-black";
  src: url("../public/assets/fonts/Aeonik/Aeonik-Black.otf");
}
@font-face {
  font-family: "DM-Serif";
  src: url("../public/assets/fonts/DM_Serif/DMSerifText-Italic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aeonik-regular";
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  background: #8e87e6;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: unset;
}

@keyframes float {
  0%,
  100% {
    transform: translate(-50%, -1rem);
  }
  50% {
    transform: translate(-50%, 0rem);
  }
}
